body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .custom-table tbody tr td {
    padding: 0px 0px!important;
  }

header, main, footer {
      /*padding-left: 250px;*/
}